<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>

</div>


<mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="start date" [(ngModel)]="start_date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>



<mat-form-field>
  <input matInput [matDatepicker]="picker2" placeholder="end date" [(ngModel)]="end_date">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<div></div>

<mat-form-field>
  <input matInput placeholder="start balance" [(ngModel)]="start_balance">
</mat-form-field>


<mat-form-field>
  <input matInput placeholder="end balance" [(ngModel)]="end_balance">
</mat-form-field>






<ul>
  <li *ngFor="let transfer of transfers">

  <mat-form-field>
    <input matInput [matDatepicker]="picker" [min]="start_date" [max]="end_date" placeholder="date" [(ngModel)]="transfer.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="amount" [(ngModel)]="transfer.amount" type="number">
  </mat-form-field>

  <mat-radio-group [(ngModel)]="transfer.deposit">
  <mat-radio-button value=true >Deposit</mat-radio-button>
  <mat-radio-button value=false>Withdrawal</mat-radio-button>
  </mat-radio-group>


  </li>
</ul>



<button (click)="add_transfer()">Add</button>


<button (click)="calc()">Calculate</button>

<div></div>

<div> average ror: {{ror * 100| number:'1.2-2'}} %</div>
